Divya/
other/
src/test.txt
data/Identities.*
data/newIdentities.*
data/IdentitiesTest.m
data/References.txt
src/Glossary.csv
src/new.Glossary.csv
src/new.Glossary.updated.csv
src/MathematicaToLaTeXTest.py
IdentitiesTest.txt
README_Glossary
x.log
tasks.txt
*.sty
*.aux
*.csv


# ecf project
*.sty
Identities.*
newIdentities.*
*.csv
macros.txt
*.log
*.aux
ZE.3.*
