Divya/
other/
Azeem/

data/Identities.*
data/newIdentities.*
data/newIdentitiesnew.*
data/newIdentitiesTest.*
data/IdentitiesTest.m
data/References.txt
data/ZE.3.*
data/ZE.3new.*
data/ZE.4.*
data/questions.txt
data/test.*

src/test.*
src/Glossary.csv
src/new.Glossary.csv
src/new.Glossary.updated.csv
src/pythonTest.py
src/tasks.txt
src/README_Glossary
src/x.log
src/tex2wiki.py

*.sty
*.aux
*.csv
*.sty
*.out
*.log
